name: Build and test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always
  RUST_LOG: info
  RUST_BACKTRACE: 1

jobs:
  read-rust-version:
    name: Read Rust version from mise.toml
    runs-on: ubuntu-latest
    outputs:
      rust-version: ${{ steps.get-version.outputs.rust-version }}
    steps:
      - uses: actions/checkout@v4
      - id: get-version
        run: |
          version=$(grep '^rust\s*=' .config/mise/mise.toml | sed -E 's/.*"([^"]+)".*/\1/')
          echo "rust-version=$version" >> "$GITHUB_OUTPUT"

  check-for-updated-rust-files:
    name: Check whether rust files have been updated
    runs-on: ubuntu-latest
    outputs:
      should_run_tests: ${{ steps.check-changes.outputs.should_run }}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 2
    - name: Check for changes in relevant directories and files
      id: check-changes
      run: |
        if [[ "${{ github.event_name }}" == "push" && "${{ github.ref }}" == "refs/heads/main" ]]; then
          echo "should_run=true" >> $GITHUB_OUTPUT
        else
          # Check if any files in crates/ directory, Cargo.toml or Cargo.lock were changed
          git diff --name-only HEAD^ HEAD | grep -q -E "^src/|^Cargo\.toml$|^Cargo\.lock$" && echo "should_run=true" >> $GITHUB_OUTPUT || echo "should_run=false" >> $GITHUB_OUTPUT
        fi

  test-stable:
    name: Test Rust stable
    runs-on: ubuntu-latest
    needs: [read-rust-version, check-for-updated-rust-files]
    if: ${{ needs.check-for-updated-rust-files.outputs.should_run_tests == 'true' }}
    steps:
    - uses: actions/checkout@v4
    - uses: hecrj/setup-rust-action@v2
      with:
        rust-version: ${{ needs.read-rust-version.outputs.rust-version }}
    - name: Run tests
      run: cargo test --verbose

  rustfmt:
    name: Ensure rustfmt is happy
    runs-on: ubuntu-latest
    needs: [read-rust-version, check-for-updated-rust-files]
    if: ${{ needs.check-for-updated-rust-files.outputs.should_run_tests == 'true' }}
    steps:
    - uses: actions/checkout@v4
    - uses: hecrj/setup-rust-action@v2
      with:
        components: rustfmt
        rust-version: ${{ needs.read-rust-version.outputs.rust-version }}
    - run: cargo pr-format

  clippy:
    name: Lint the codebase with clippy
    runs-on: ubuntu-latest
    needs: [read-rust-version, check-for-updated-rust-files]
    if: ${{ needs.check-for-updated-rust-files.outputs.should_run_tests == 'true' }}
    steps:
    - uses: actions/checkout@v4
    - uses: hecrj/setup-rust-action@v2
      with:
        components: clippy
        rust-version: ${{ needs.read-rust-version.outputs.rust-version }}
    - run: cargo pr-clippy

  rustdoc:
    name: Check that rustdoc is happy
    runs-on: ubuntu-latest
    needs: [read-rust-version, check-for-updated-rust-files]
    if: ${{ needs.check-for-updated-rust-files.outputs.should_run_tests == 'true' }}
    steps:
    - uses: actions/checkout@v4
    - uses: hecrj/setup-rust-action@v2
      with:
        rust-version: nightly
    - run: RUSTDOCFLAGS="-D warnings -D rustdoc::broken-intra-doc-links" cargo doc --all-features --workspace --no-deps
  
  spell-check:
    name: Spell check using the typos-cli crate
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: crate-ci/typos@v1.34.0
      with:
        config: ./.typos.toml

  lint-markdown:
    name: Lint Markdown files with dprint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      # The action takes too long to build if we install all the tools in the repo
      # This deletes the full mise.toml and instead installs dprint only
    - run: rm -f .config/mise/mise.toml
    - uses: jdx/mise-action@v2
      with:
        mise_toml: |
          [tools]
          "dprint" = "0.48.0"
    - run: dprint check
