name: Publish Subgraph Mock

on:
  push:
    branches:
      - main
      - test

env:
  REGISTRY: ghcr.io

jobs:
  publish-subgraph-mock-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - uses: apollographql/release-tooling/build-and-publish@066868bea9ca1869c8765cd6bca0ddf9351b716e
        with:
          context: ${{ github.workspace }}
          dockerfile_location: ${{ github.workspace }}/Dockerfile
          image_description: 'An image that allows us to mock subgraphs for testing purposes'
          image_name: 'subgraph-mock'
          platforms: 'linux/amd64,linux/arm64,macOS/arm64'
